.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
}
//   @media (max-width: 1230px) {
//     padding: 0 15px;
//     max-width: 100%;
//   }

//   @media (max-width: 800px) {
//     padding: 0 15px 60px;
//   }
// }

// .containerMinimal {
//   @media (max-width: 800px) {
//     padding: 0 15px
//   };
// }
