
.container {
  padding: 107px 64px 96px;
  background: no-repeat url("../../../../../public/assets/images/bg.svg");
  position: relative;

  h1 {
    margin-bottom: 28px;
    font-size: 144px;
    line-height: 152px;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorTextWhite;
    position: relative;
    z-index: 10;
  }

  h3 {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }

  .text {
    margin-bottom: 114px;
    max-width: 658px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    position: relative;
    z-index: 10;
  }

  .subText {
    max-width: 416px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }

  .backgroundImg {
    position: absolute;
    right: 0;
    top: -79px;
    z-index: 5;
  }
}

